<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" class="volunteer-form">
        <p class="volunteer-text fst-normal">Join Our family</p>
        <p class="fw-bold volunteer_para">
          How would you like to help, people?
        </p>
        <div class="mb-3 select">
          <input
            type="text"
            class="form-control mb-4"
            id="formGroupExampleInput"
            placeholder="Select how you would like to help?"
            formControlName="select_input"
          />
        </div>
        <div class="mb-3 d-flex flex-wrap mb-4">
          <input
            type="text"
            class="form-control fullname_input"
            id="formGroupExampleInput"
            placeholder="Fullname"
            formControlName="fullname"
          />
          <input
            type="text"
            class="form-control age_input"
            id="formGroupExampleInput"
            placeholder="Age"
            formControlName="age"
          />
        </div>
        <div class="mb-3 d-flex flex-wrap mb-4">
          <input
            type="text"
            class="form-control email_input"
            id="formGroupExampleInput"
            placeholder="Email"
            formControlName="email"
          />
          <input
            type="text"
            class="form-control mobile_input"
            id="formGroupExampleInput"
            placeholder="Mobile No."
            formControlName="mobile"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control mb-4"
            id="formGroupExampleInput"
            placeholder="Full Address"
            formControlName="address"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control mb-4"
            id="formGroupExampleInput"
            placeholder="Facebook Profile Url"
            formControlName="fullname"
          />
        </div>
        <div class="mb-3">
          <input
            type="Submit"
            class="form-control border-0 text-white submit_btn mb-4"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            disabled
          />
        </div>
      </form>
    </div>
  </div>
  <div class="icon-btn">
    <button
      type="button"
      class="btn btn-outline-success float-end d-flex flex-end"
    >
      <i class="fa-brands fa-whatsapp"><span>Join Us</span></i>
    </button>
  </div>
</div>
