<div class="container-fluid">
  <footer
    class="footer-bottom bg-gray d-flex flex-wrap text-white justify-content-between"
  >
    <div class="foot_bottom-left d-flex flex-wrap">
      <div class="footer_logo">
        <img src="./../../assets/images/logo.png" alt="" />
      </div>
      <div class="footer_text text-body">
        <p class="first-text">@ HopeForHomeless 2021-2023</p>
        <p class="second-text">(HopeForHomeless Project Trust)</p>
      </div>
    </div>
    <div class="foot_bottom-right pe-5 mt-3">
      <div class="footer_soc-icon">
        <i class="fa-brands fa-facebook facebook"></i>
        <i class="fa-brands fa-square-instagram instagram"></i>
        <i class="fa-brands fa-whatsapp whatsapp"></i>
        <i class="fa-brands fa-twitter twitter"></i>
      </div>
    </div>
  </footer>
</div>
