<div class="container-fluid">
  <section class="upper_section">
    <div class="row d-flex flex-wrap">
      <div class="col-md-6">
        <div class="left_section">
          <h4>Our Mission</h4>
          <p class="text-muted mt-5">
            We want a change in the society for whom seeking some kind of help
            and no one are providing to them. We will reach to them and provide
            necessity which helps to live their life
          </p>
          <input type="button" value="Learn More" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="right_section mb-5">
          <img src="./../../assets/images/about1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row d-flex flex-wrap">
      <div class="icon-btn">
        <button
          type="button"
          class="btn btn-outline-success icon_btn float-end d-flex flex-end"
        >
          <i class="fa-brands fa-whatsapp"><span>Join Us</span></i>
        </button>
      </div>
      <div class="col-md-6">
        <div class="left_section">
          <img src="./../../assets/images/about2.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="right_section mt-5">
          <i class="fa-solid fa-leaf"></i>
          <h4>Our Mission</h4>
          <p class="text-muted">
            We want a change in the society for whom seeking some kind of help
            and no one are providing to them. We will reach to them and provide
            necessity which helps to live their life
          </p>
          <input type="button" value="Learn More" />
        </div>
      </div>
    </div>
  </section>
  <section class="mid_section mt-4">
    <h4 class="text-center">Our Team</h4>
    <p class="text-center">Meet our most wonderfull team</p>
    <div class="row">
      <div class="col-md-3">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">no</h5>
            <p class="card-text text-center">CEO-FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">no</h5>
            <p class="card-text text-center">CEO-FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">no</h5>
            <p class="card-text text-center">CEO-FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">no</h5>
            <p class="card-text text-center">CEO-FOUNDER</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="lower_section">
    <div class="row">
      <div class="col-md-6 text-center">
        <h4>Hope for Homeless</h4>
        <p>
          Delhi, India <br />
          Phone: +91 9897959694 <br />
          Email: ahope4homeless@gmail.com
        </p>
      </div>
      <div class="col-md-6">
        <img src="./../../assets/images/logo.png" alt="" class="mb-5" />
      </div>
    </div>
  </section>
</div>
