<div class="container">
  <section class="donation_heading mt-4">
    <div class="row">
      <div class="col-md-12">
        <a
          routerLink="/donateform"
          class="nav-link text-center fs-1 text-decoration-none text-black-50"
          >Donations</a
        >
        <p class="text-center">
          A donation is a gift for charity, humanitarian aid, or to benefit a
          cause. A donation may take various forms, including money, alms,
          services, or goods such as clothing, toys, foods or vehicles. A
          donation may satisfy medical needs such as blood or organs for
          transplant.
        </p>
      </div>
    </div>
  </section>
  <section class="card_section">
    <div class="row">
      <p class="mt-3 text-center">
        Please select one of the donation type to donate the things
      </p>
      <div class="col-md-3">
        <div class="card mb-5 mt-3" style="width: 15rem">
          <img
            src="./../../assets/images/donate-money.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Donate Money</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 mt-3" style="width: 15rem">
          <img
            src="./../../assets/images/cloth-donate.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Donate Clothes</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 mt-3" style="width: 15rem">
          <img
            src="./../../assets/images/donate-food.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Donate Foods</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mt-3" style="width: 15rem">
          <img
            src="./../../assets/images/book-donate.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Donate Books/Toys</p>
          </div>
        </div>
      </div>
    </div>
    <div class="icon-btn mb-5">
      <button
        type="button"
        class="btn btn-outline-success float-end d-flex flex-end"
      >
        <i class="fa-brands fa-whatsapp"><span>Join Us</span></i>
      </button>
    </div>
  </section>
</div>
